affine==2.3.0
alabaster==0.7.12
altair==4.2.0
anyio==3.4.0
apiclient==1.0.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.1
arviz==0.11.2
asgiref==3.5.0
astor==0.8.1
astroid==2.8.4
asttokens==2.0.5
attrs==21.4.0
awesome-streamlit==20200728.1
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
base58==2.1.1
bayesian-optimization==1.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
blinker==1.4
boto3==1.21.9
botocore==1.24.9
branca==0.4.2
build==0.7.0
cachetools==5.0.0
CD==1.1.0
certifi==2022.5.18.1
cffi==1.15.0
cfgv==3.3.1
cftime==1.5.0
charset-normalizer==2.0.12
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
colorama==0.4.4
contextily==1.2.0
cryptography==35.0.0
cvxopt==1.2.6
cycler==0.11.0
Cython==0.29.24
dask==2021.11.1
DateTime==4.3
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
distlib==0.3.3
Django==4.0.2
docutils==0.16
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
extra-streamlit-components==0.1.53
fastprogress==1.0.0
filelock==3.3.2
Fiona==1.8.21
Flask==2.0.3
Flask-Bcrypt==0.7.1
folium==0.12.1.post1
fonttools==4.33.3
fsspec==2021.11.0
geographiclib==1.52
geopandas==0.10.2
geopy==2.2.0
ghp-import==2.0.2
gitdb==4.0.9
GitPython==3.1.27
google==3.0.0
googlemaps==4.6.0
greenlet==1.1.2
httplib2==0.20.4
identify==2.4.10
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.4
importlib-resources==5.7.1
install==1.3.5
intel-openmp==2021.3.0
ipykernel==6.14.0
ipython==7.34.0
ipython-genutils==0.2.0
ipython-sql==0.4.0
ipywidgets==7.6.5
isort==5.9.3
itsdangerous==2.1.1
jedi==0.18.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.0.1
jsonschema==4.6.0
jupyter==1.0.0
jupyter-book==0.12.1
jupyter-cache==0.4.3
jupyter-client==7.3.4
jupyter-console==6.4.0
jupyter-core==4.10.0
jupyter-server==1.13.1
jupyter-server-mathjax==0.2.3
jupyter-sphinx==0.3.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
jupytext==1.11.5
keyring==23.2.1
kiwisolver==1.4.3
latexcodec==2.0.1
lazy-object-proxy==1.6.0
linkify-it-py==1.0.3
locket==0.2.1
mapclassify==2.4.3
maps==5.1.1
Markdown==3.3.6
markdown-it-py==1.1.0
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mccabe==0.6.1
mdit-py-plugins==0.2.8
mercantile==1.2.1
mergedeep==1.3.4
mistune==0.8.4
mkdocs==1.2.3
mkdocs-material==8.1.4
mkdocs-material-extensions==1.0.3
mkl==2021.3.0
more-itertools==8.12.0
munch==2.5.0
mysql-connector==2.2.9
myst-nb==0.13.1
myst-parser==0.15.2
nbclient==0.5.11
nbconvert==6.4.2
nbdime==3.1.1
nbformat==5.1.3
nest-asyncio==1.5.5
netCDF4==1.5.7
networkx==2.6.3
nodeenv==1.6.0
notebook==6.4.8
numpy==1.21.6
oauth2client==4.1.3
openpyxl==3.0.7
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
patsy==0.5.2
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
Pipoh==0.0.1
pkginfo==1.7.1
platformdirs==2.4.0
plotly==5.5.0
pre-commit==2.17.0
prettytable==0.7.2
proj==0.2.0
prometheus-client==0.13.1
prompt-toolkit==3.0.29
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py4j==0.10.9
pyandoc==0.2.0
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybtex==0.24.0
pybtex-docutils==1.0.1
pycparser==2.21
pydata-sphinx-theme==0.7.2
pydeck==0.7.1
Pygments==2.12.0
pyGPGO==0.5.1
PyJWT==2.3.0
pylint==2.11.1
pymc3==3.11.4
pymdown-extensions==9.1
Pympler==1.0.1
PyMySQL==1.0.2
pypandoc==1.7.2
pyparsing==3.0.9
pyproj==3.2.1
pyrsistent==0.18.1
pyspark==3.1.2
pystrategy @ file:///Users/franciscoantonioprietorodriguez/Documents/PhD/GitHub_Code_Repository/PhD
pystrategy-test-py==1.0.16
python-dateutil==2.8.2
python-markdown-math==0.8
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq==23.1.0
qpsolvers==1.6.1
qtconsole==5.2.2
QtPy==2.0.0
quadprog==0.1.8
rasterio==1.2.10
readme-renderer==29.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.9
s3transfer==0.5.2
scikit-learn==0.24.2
scipy==1.7.3
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
sh==1.14.2
Shapely==1.8.2
six==1.16.0
sklearn==0.0
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.2.0
snuggs==1.4.7
soupsieve==2.3.1
Sphinx==4.3.2
sphinx-book-theme==0.1.7
sphinx-comments==0.0.3
sphinx-copybutton==0.4.0
sphinx-external-toc==0.2.3
sphinx-jupyterbook-latex==0.4.6
sphinx-multitoc-numbering==0.1.3
sphinx-panels==0.6.0
sphinx-thebe==0.0.10
sphinx-togglebutton==0.2.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.2.1
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.28
sqlparse==0.4.2
stack-data==0.2.0
statsmodels==0.13.0
streamlit==1.7.0
streamlit-authenticator==0.1.1
streamlit-folium==0.6.2
tbb==2021.3.0
tenacity==8.0.1
terminado==0.13.2
testpath==0.6.0
Theano-PyMC==1.1.2
threadpoolctl==2.2.0
timedelta==2020.12.3
toml==0.10.2
tomli==1.2.1
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
traitlets==5.2.2.post1
twine==3.4.2
typing_extensions==4.2.0
tzdata==2021.5
tzlocal==4.1
uc-micro-py==1.0.1
urllib3==1.26.8
validators==0.18.2
virtualenv==20.10.0
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.3
widgetsnbextension==3.5.2
wrapt==1.13.2
xarray==0.19.0
xlrd==2.0.1
xyzservices==2022.1.1
zipp==3.8.0
zope.interface==5.2.0